/* Homepage view counts */
main {
    .tw-media-card-image__corners {
        .tw-absolute {
            > .tw-media-card-stat {
                display: none !important;
            }
        }
    }

    .tw-card-body {
        > p.tw-c-text-alt-2 {
            display: none !important;
        }
    }

    .featured-content-carousel__item-container {
        p {
            &:not(.carousel-metadata--top-text) {
                display: none !important;
            }
        }
    }
}

/* Sidebar view counts */
.side-nav-card__live-status {
    // Move status indicator to take care of weird white space
    .tw-channel-status-indicator {
        margin-left: 25px !important;
    }

    .tw-font-size-6 {
        display: none !important;
    }
}


/* Streamer channel view counts */
.channel-info-bar__viewers-count-wrapper {
    .channel-info-bar__viewers-wrapper {
        display: none !important;
    }

    .tw-stat {
        display: none !important;
    }
}


/* eSports page */
.esports-directory-live-matches-card__img-wrapper {
    .tw-media-card-stat {
        display: none !important;
    }
}

.esports-category-selector-card__background {
    p {
        &:not(.tw-c-text-base) {
            display: none !important;
        }
    }
}

.live-pro-card__label {
    > .tw-item-order-3 {
        > .tw-item-order-1 {
            display: none !important;
        }

        > .tw-item-order-3 {
            order: 1 !important;
        }
    }
}

.esports-directory__body {
    .tw-mg-t-4 {
        > .tw-mg-b-2 {
            .tw-align-items-center {
                h3.tw-c-text-alt-2 {
                    display: none !important;
                }
            }
        }
    }
}
